/* Stores carousel section */
.stores-block {
  margin: auto;
  background-color: #009b74;
  border: none;
  overflow-x: hidden;

  .title-holder .subtitle {
    color: rgba(13, 13, 13, 0.55);

  }
}

.swiper {
  padding: 0;
}

.stores-wrapper {
  box-shadow: rgba(0, 0, 0, 0.358) 0px 25px 50px -12px;
}
.store-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(7, 7, 7, 0.95);
  background-color: #4d4d4d3d;
  font-variant: small-caps;
  font-weight: 400;
  height: 3rem;
  font-size: 1.5rem;
}
/* swiper stores carousel */

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 25% !important;
  height: 100%;
  margin: 0 0 4rem 0;
}

.swiper-slide img {
  display: block;
  width: 70%;
  padding: 3rem;
}

@media (width <=1200px) {
  .swiper-slide img {
    display: block;
    width: 100%;
    padding: 0;
  }
  .store-title {
    height: 2rem;
    font-size: 0.7rem;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 40% !important;
    height: 100%;
    margin: 0 0 4rem 0;
  }
}
