/* Hero section */
.block {
  padding: 70px 0;
  border-bottom: 1px solid #e6e6e6;
}

.hero-block {
  margin: 0;
}

.hero-block .carousel-item:before {
  content: "";
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero-block .carousel-item img {
  width: 100%;
}

.hero-block .carousel-caption {
  left: 25%;
  right: 25%;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  bottom: 50%;
}

@media (width <=1200px) {
  .hero-block .carousel-item img {
    height: 10rem;
  }
  .hero-block {
    position: relative;

  }


}
