/* Testimonials section */

.testimonials-block {
  padding: 5.6rem 0 4.3rem;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../../assets/images/bg-testimonial.jpg");
  position: relative;
  color: #fff;
}

.testimonials-block:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.testimonials-block .container-fluid {
  position: relative;
  display: grid;
  align-content: center;
  z-index: 1;
}

.testimonials-videoPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-block .subtitle {
  color: #cccccc;
  margin-bottom: 3rem;
}

@media (width <=1200px) {
  .testimonials-block .container-fluid {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: 0 auto;
  }
  .testimonials-videoPlayer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    video {
      object-fit: cover;
      background-size: 60%;
      width: 20rem;
    }
  }
}
